p, h2 {
    margin: 0;
}

.time {
    width: 25vw;
    padding: 2vh;
    font-size: large;
}

.separacao {
    margin-left: -2vh;
    margin-right: -2vh;
    /* width: 100%; */
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: orange; */
}

.tempo {
    font-size: x-large;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

.voltas {
    font-size: x-large;
}

.bottom > button {
    width: 30%;
    border-radius: 5px;
    font-size: x-large;
    /* background-color: orange; */
}
